.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.image{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
body{
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.main{
    width:300px; 
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image{
    width: 100%;
}
.words{
    font-size: 15px;
    font: url(Outfit-VariableFont_wght.ttf);
    font-weight: 100;
} 
h2{
    font-weight: 400;
    font-family: url(Outfit-VariableFont_wght.ttf);
}
/* @media only screen and (max-width: 992px) {
    .main {
      width: 40%; 
      padding: 15px;
    }
   
  }
  @media only screen and (max-width: 768px) {
    .main {
      width:40%; 
      padding: 10px;
    }
  }
  @media only screen and (max-width: 480px) {
    .main {
      width: 40%; 
      padding: 5px;
    }
  } */


        /* RESET ALLL ELEMENTS */
    /* * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    } */